// Colors
$colorGray: #838383;
$colorGrayLight: #D8D8D8;
$colorPrimary: #0058A3;
$colorSecondary: #DA3E7B;

// Font Sizes
$fontSizeXS: 12px;
$fontSizeBase: 16px;
$fontSizeXL: 30px;
$fontSize2XL: 50px;

// Units
$unitXS: 25px;
$unitBase: 40px;

// Margins
$marginBase: 20px;

// Paddings
$spacingXS: 10px;
$spacingBase: 20px;